<div data-component-name="notifications" class="p-3">
  {{#each this.notificationsList as |notification|}}
    <FlashMessage @type={{notification.type}} class="mb-1">
      {{notification.message}}
    </FlashMessage>
  {{/each}}
</div>