{{page-title "Thermos"}}
<div
  class="absolute top-0 bottom-0 left-0 right-0 w-screen h-full bg-white dark:bg-gray-800 font-body"
>
  <TopBar />

  <div class="h-full p-4 pt-20">
    {{outlet}}
  </div>
</div>